<div
  style="
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  "
>
  <ion-card>
    <ion-card-content>
      <ion-row>
        <ion-chip color="danger" style="margin-left: auto; margin-right: auto">
          <ion-icon name="alert-circle-outline"></ion-icon>
          <ion-label>Email invalid</ion-label>
        </ion-chip>
      </ion-row>
      <ion-item>
        <ion-label position="stacked"> Email </ion-label>
        <ion-input color="primary" placeholder="example@mail.com"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Password</ion-label>
        <ion-input
          type="password"
          color="primary"
          placeholder="********"
        ></ion-input>
      </ion-item>
    </ion-card-content>
    <ion-card-content>
      <ion-row>
        <ion-button class="submit-button">Login</ion-button>
      </ion-row>
      <ion-row>
        <a class="form-link" href="#">Create an account</a>
      </ion-row>
    </ion-card-content>
  </ion-card>
</div>
