<div
  style="
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  "
>
  <ion-card>
    <ion-card-content>
      <ion-row>
        <ion-chip color="secondary">
          <ion-icon name="person-circle-outline" color="dark"></ion-icon>
          <ion-label color="dark">Marcos</ion-label>
        </ion-chip>
        <ion-chip color="secondary">
          <ion-icon name="sparkles-outline" color="primary"></ion-icon>
          <ion-label color="primary">30</ion-label>
        </ion-chip>
      </ion-row>
      <ion-row>
        <ion-button class="submit-button">
          <ion-icon name="chatbubbles" style="margin: 5px"></ion-icon>
          Classic mode</ion-button
        >
      </ion-row>
      <ion-row>
        <ion-button class="submit-button" color="secondary">
          <ion-icon name="skull" style="margin: 5px"></ion-icon>
          Rush mode</ion-button
        >
      </ion-row>
      <ion-row>
        <ion-button class="submit-button" color="tertiary">
          <ion-icon name="star" style="margin: 5px"></ion-icon>
          Leaderboard</ion-button
        >
      </ion-row>
    </ion-card-content>
  </ion-card>
</div>
