<div
  style="
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  "
>
  <ion-card>
    <ion-card-content>
      <ion-card-header>
        <ion-segment color="primary" value="clasic">
          <ion-segment-button value="clasic" layout="icon-bottom">
            <ion-icon name="chatbubbles" color="primary"></ion-icon>
            <ion-label color="primary">Clasic</ion-label>
          </ion-segment-button>
          <ion-segment-button value="rush" layout="icon-bottom">
            <ion-icon name="skull" color="primary"></ion-icon>
            <ion-label color="primary">Rush</ion-label>
          </ion-segment-button>
        </ion-segment>
      </ion-card-header>

      <ion-list style="margin-top: 15px">
        <ion-list-header>
          <ion-icon name="star-outline" style="margin: 5px"></ion-icon>
          Leaderboard
        </ion-list-header>
        <ion-item>
          <ion-chip color="primary">
            <ion-icon name="trophy-outline" style="color: gold"></ion-icon>
            <ion-label style="font-weight: bold; color: gold">1</ion-label>
          </ion-chip>
          <ion-label> Maria</ion-label>
          <ion-chip color="primary">
            <ion-icon name="sparkles-outline" color="dark"></ion-icon>
            <ion-label color="dark">589</ion-label>
          </ion-chip>
        </ion-item>
        <ion-item>
          <ion-chip color="primary">
            <ion-icon name="trophy-outline" style="color: silver"></ion-icon>
            <ion-label style="font-weight: bold; color: silver">2</ion-label>
          </ion-chip>
          <ion-label>Juan</ion-label>
          <ion-chip color="primary">
            <ion-icon name="sparkles-outline" color="dark"></ion-icon>
            <ion-label color="dark">570</ion-label>
          </ion-chip>
        </ion-item>
        <ion-item>
          <ion-chip color="primary">
            <ion-icon name="trophy-outline" style="color: #cd7f32"></ion-icon>
            <ion-label style="font-weight: bold; color: #cd7f32">3</ion-label>
          </ion-chip>
          <ion-label>Rodrigo</ion-label>
          <ion-chip color="primary">
            <ion-icon name="sparkles-outline" color="dark"></ion-icon>
            <ion-label color="dark">430</ion-label>
          </ion-chip>
        </ion-item>
        <ion-item>
          <ion-chip color="primary">
            <ion-label>4</ion-label>
          </ion-chip>
          <ion-label>Luis</ion-label>
          <ion-chip color="primary">
            <ion-icon name="sparkles-outline" color="dark"></ion-icon>
            <ion-label color="dark">330</ion-label>
          </ion-chip>
        </ion-item>
        <ion-item>
          <ion-chip color="primary">
            <ion-label>5</ion-label>
          </ion-chip>
          <ion-label>Jose</ion-label>
          <ion-chip color="primary">
            <ion-icon name="sparkles-outline" color="dark"></ion-icon>
            <ion-label color="dark">230</ion-label>
          </ion-chip>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
</div>
